<ul class="list-group">
  <a
    href="<%=isFavorite?'/favorites/expertises':'/seagulls' %>"
    class="list-group-item list-group-item-action <%= expertiseId ==0?'active':'' %>"
    >All Expertises <%=isFavorite?'in Favorites':'' %>
  </a>

  Expertises
</ul>
