<hr class="my-2" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Main Page</a>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/seagulls">Seagulls</a>
        </li>


        <% if (isAuth) { %>
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/favorites">Favorites</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/seagulls"
              >Seagulls Edit</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/expertises">Expertises Edit</a>
          </li>            
        <% } %>

       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/featured">Featured stories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/stories">All stories</a>
        </li>

        <% if (isAuth) { %>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/users">Users Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/stories">Admin stories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        <% } %>

        <% if (!isAuth) { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Register</a>
        </li>
        <% } %>
        </li>
      </ul>

      <% if (isAuth)  { %>
        <form class="d-flex">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">

          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
        <button type="button" class="mx-3 btn bnt-sm btn-danger bg-danger   btn-link text-decoration-none "><a class=" text-decoration-none text-white" href="/logout">Logout</a> </button>

        <button class=" btn bnt-sm btn-primary"><%=fullname%> </button>
  
      <% } %>


    </div>
  </div>
</nav>
<hr />
