
<%- include("partials/head",{title:"navigation"})  %> 

<body class="mx-3">
  <%- include ("partials/nav")%>
  <h1 class="mb-3">Main page</h1>

  <div class="container">
    <a href="/seagulls">
      <img class="mx-5" src="/images/seagull01.png" alt="" width="450" />
    </a>
  </div>

  <%- include ("partials/footer") %>
</body>
</html>
