<%- include ("../partials/head",{title:"Reset Password"}) %> 
  <body class="mx-3">    
    <%- include ("../partials/nav") %>
    <h1 class="mb-3">Reset password page</h1><hr />
    
<div class="container">
  <form method="post">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <div class="mb-3 col-md-6">
      <label for="email" class="form-label">email</label>
      <input type="email" class="form-control" id="email" name="email"/>
    </div>  
    <button type="submit" class="btn btn-primary">Reset Password</button>
    <a href="/login" class="btn btn-primary">Login</a>
  </form>

</div>

<%- include ("../partials/footer") %>
    
</body>
</html>
