<%- include ("../partials/head",{title:"No Autharization"}) %> 
  <body class="mx-3">    
    <%- include ("../partials/nav") %>
    <h1 class="mb-3">No Autharization</h1><hr />
    
<div class="container">

  <div class="alert alert-warning">
    You are not authorized
  </div>
</div>

<%- include ("../partials/footer") %>
    
</body>
</html>
