<%- include ("../partials/head",{title:"Register form"}) %> 
  <body class="mx-3">
    
    <%- include ("../partials/nav") %>  
    <h1 class="mb-3">Reset password page</h1><hr />

<div class="container">
  <form method="post">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">

    <div class="mb-3 col-md-6">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="newUser"/>
    </div>
    <div class="mb-3 col-md-6">
      <label for="fullname" class="form-label">Fullname</label>
      <input type="text" class="form-control" id="fullname" name="fullname" value="new User"/>
    </div>
  
    <div class="mb-3 col-md-6">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        name="email"
        value="new@User.com"
        id="email"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3 col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password"  name="password" value="newUser"/>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/forget-password" class="btn btn-primary">Forget password</a>
  </form>

</div>




<%- include ("../partials/footer") %>
    
</body>
</html>
