<%- include("../partials/head",{title:"User Edit"}) %>
<%-include("../partials/nav") %>

<body class="mx-3">
  <div class="container">Here is User Edit</div>
  <%- include("../partials/footer") %>
</body>
