<%- include ("../partials/head",{title:"Delete Useer"}) %> 
  <body class="mx-3">    
    <%- include ("../partials/nav") %>
    <h1 class="mb-3">Delete User Page password page</h1><hr />
    
<div class="container">

  Delete User

</div>

<%- include ("../partials/footer") %>
    
</body>
</html>
