<%- include("../partials/head",{title:"Story Edit Page"}) %>
<%-include("../partials/nav") %>

<body class="mx-3">
  <h1 class="mb-3">Edit your story</h1>
  <hr />
  <div class="container border my-3">Edit your story</div>
  <%- include("../partials/footer") %>
</body>
