<%- include("../partials/head",{title:"Featured List"}) %>
<%-include("../partials/nav") %>

<body class="mx-3">
  <div class="container">Here is Featured Story list</div>
  <%- include("../partials/footer") %>
</body>
