<%- include("../partials/head",{title:"Story Edit Page"}) %>
<%-include("../partials/nav") %>

<body class="mx-3">
  <div class="container">Edit your story</div>
  <%- include("../partials/footer") %>
</body>
